footer {
    background-color: #e8ebed;
    color: rgba(127, 27, 29);
    font-size: 1.0em;
}

footer p {
    line-height: 50px;
    margin-top: 15px;
    margin-bottom: 0rem;
    padding-left: 20px;
}