* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#logoHunt{
    height: 50px;
    width: auto;
}

#icons-social {
    margin: 0 auto;
}

#icons-social img{
    height: 50px;
    width: auto;
    padding: 0 5px;
}

/* ---------- nav ------------- */

.navbar{
    border-bottom: 1px solid rgba(127, 27, 29);
    background-color: rgba(0, 0, 0, 0.8) !important;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding: 10px 25px;
    font-weight: bold;
}

.navbar .nav-item .btn{
    color: #FFF;
    font-family: 'GT-Sectra-Fine-Medium',serif;
    background-color: rgba(127, 27, 29);
    border: 1px solid transparent;
    border-radius: 0;
}

.nav-link.btn.btn-primary:hover, #search-form button:hover, .list-group-item a:hover,  #form-box button:hover{
    background-color: rgba(0, 0, 0, 0.6);
    color: rgb(255, 255, 255);
    border-color: rgba(127,27,29,0.75);
}

#navbarNav {
    flex-grow: 0;   /* Permite que os icones sociais fiquem no centro */
}

#img_banner {
    min-height: 500px;
    background-image: url("../img/bannerHunt.jpg");
    background-repeat: no-repeat;                       /*Não deixa repetir a imagem*/
    background-size: cover;                             /*Faz a imagem ocupar todo o espaço*/
    background-position: center;                        /*Pega a base de baixo para preencher o espaço*/
    position: relative;                                 /*O viewport posiciona no canto superior esquerdo*/
}

#twitch-embed {
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

