/* ----------------- Gerais ----------------- */

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    /* height: 200vh; */
    background: #0c1013;
    color: #fff;
}

main {
    margin-top: 75px;
}

.container {
    /* width: 1000px; */
    padding: 10px 40px 10px 40px;
    background-color: #192126;  /* cor de fundo do conteudo da página */
    /* margin-right: 150px;
    margin-left: 150px; */
}

.container p {
    text-align: justify;
    text-indent: 30px;
    padding: 30px 20px;
}

h2 {
    font-family: 'GT-Sectra-Fine-Medium',serif;
    color: rgb(195 32 35);
    font-weight: bold;
    /* text-indent: 30px; */    /* Faz um espaçamento */
    font-size: 2.3rem;
}

.h2-custom{
    text-align: center;
    margin-bottom: 0;
}

h3 {
    font-family: 'GT-Sectra-Fine-Medium',serif;
    font-size: 2.3rem;
    font-weight: bold;
    text-align: center;
    color: rgba(127, 27, 29);
    
}

h4 {
    padding-top: 5px;
    font-size: 1rem;
    font-weight: bold;
}

h5 {
    font-family: 'GT-Sectra-Fine-Medium',serif;
    color: rgba(127, 27, 29);
    font-weight: bold;
    text-indent: 30px;
    font-size: 1.5rem;
    text-align: right;
}

.bg-text {
    background-color: #141a1d99;   /* cor de fundo do conteudo da página */
}

.my-1 {
    border-top: 1px solid #7f1b1d;
    margin-top: .0rem!important;
}

.col-md-12 {
    padding-bottom: 10px;
}

.center-content {   /* Centraliza o conteudo*/
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.negativo { /* tira as margens negativas do row */
    margin-right: 0px;
    margin-left: 0px;
}

/* ----------------- Stream Ao vivo ----------------- */

#img_banner {
    min-height: 340px;
    background-image: url("../img/bannerHunt.jpg");
    background-repeat: no-repeat;                       /*Não deixa repetir a imagem*/
    background-size: cover;                             /*Faz a imagem ocupar todo o espaço*/
    background-position: center;                        /*Pega a base de baixo para preencher o espaço*/
    position: relative;                                 /*O viewport posiciona no canto superior esquerdo*/
}

#twitch-embed {
    display: flex;
    justify-content: center;
}

/* ----------------- evento-area ----------------- */

#evento-area .col-md-12 {
    position: unset;
}

#evento-area {
    position: relative;
    background-color: black;
    /* height: 75vh; */
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}
  
#evento-area video {
    position: absolute;
    top: 220px;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    /* width: auto; */
    height: 770px;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
  
#evento-area .container_evento {
    /* display: none; */
    position: absolute;
    z-index: 2;
}
  
  #evento-area .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* background-color: black; */
    opacity: 0.5;
    z-index: 1;
  }

.display-3 {
    padding-top: 30px;
}

  @media(max-width: 768px){
    #evento-area {
        display: none;
      }
  }
  
/* ----------------- news-area ----------------- */

#game-area {
    background-image: url("https://static0.gamerantimages.com/wordpress/wp-content/uploads/2020/05/hunt-showdown-sunset.jpg");
    background-position: center;
    background-size: cover;
}

@media(max-width: 767px){
    .hide-news {
        display: none;
    }
    .example-2 {
        flex: none!important;
        max-width: none!important;
    }
}

/* ----------------- game-area ----------------- */


@media(max-width: 992px){
    #player {
        width: 340px;
        height: 240px;
    }
}

@media(max-width: 767px){
    #player {
        width: 440px;
        height: 260px;
    
    }
}

@media(max-width: 538px){
    #player {
        width: 343px;
        height: 195px;
    
    }
}

@media(max-width: 538px){
    #player {
        width: 343px;
        height: 195px;
    
    }
}

@media(max-width: 425px){
    #player {
        width: 239px;
        height: 139px;
    
    }
}

/* ----------------- discord-area ----------------- */

#discordInviteBox {
    display: flex;
    justify-content: center;
    background-color: initial;
}
#discordInvite{
    background: rgba(47,49,54,1);
}

@media(max-width: 767px){
    #discord-area img {
        /* height: 225px; */
    }
}

@media(max-width: 575px){
    #discord-area img {
        /* height: 300px; */
    }
}

/* ----------------- aprender-area ----------------- */

#aprender-area {
    background-image: url("https://www.hu3br.com/wp-content/uploads/2018/05/hunt-showdown-update-1.jpg");
    background-position: top;
    background-size: cover;
}

@media(max-width: 767px){
    #aprender-area img {
        /* height: 225px; */
    }
}

@media(max-width: 575px){
    #aprender-area img {
        /* height: 300px; */
    }
}

/* ----------------- professor-area ----------------- */

#professor-area p {
    padding-bottom: 0;
}

.avatar_discord {
    display: flex;              /* ???*/
    justify-content: center;

    /* empilha caso o tamanho da tela seja menor */
    /* flex-wrap: wrap;         */
    /* margin-top: 15px; */
    /* empilha caso o tamanho da tela seja menor */
}

.avatar_discord img{
    width: 100px;
    height: 100px;
    margin-top: 20px;
    border: 2px solid darkred;
    border-radius: 50%;
    
    padding: 3px;
    margin: 10px 10px 0px 10px;
}

.nomeAvatar {
    text-align: center;
}

.infoAvatar a {
    color: rgb(145 0 255);
}

.infoAvatar_ {
    color: rgb(0, 210, 255);
}

@media(max-width: 768px){
    .col-md-2 {
        /* -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%; */
        max-width: 26%;
    }
}

/* ----------------- twitch-area ----------------- */

#twitch-area {
    background-image: url("https://d1fs8ljxwyzba6.cloudfront.net/assets/article/2016/08/30/misscliks_feature_feature.jpg");
    background-position: top;
    background-size: cover;
}

@media(max-width: 767px){
    #twitch-area img {
        /* height: 258px; */
    }
}

@media(max-width: 575px){
    #twitch-area img {
        /* height: 300px; */
    }
}

/* ----------------- streamers-area ----------------- */

.streamers {
    max-width: 305px;   /* Só funciona com max-width*/
    margin: 5px;
    background-color: rgb(156, 101, 235);
}

.streamers p{
    padding: 0;
}

.streamers img{
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-header {
    padding: .5rem 1rem;
}

.card-body {
    padding: 0;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media(max-width: 1024px){
    .streamers {
        max-width: 280px;
    }
    .streamers p{
        text-align: right;
    }
}

@media(max-width: 768px){
    .streamers {
        max-width: 310px;
    }
    .col-md-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .col-md-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
}

@media(max-width: 425px){
    .streamers {
        max-width: 440px;
    }
}


/* ------------- Flex Container dos streamers da twitch ------------- */

.card-text {
    text-align: center!important;
    text-indent: 0!important;
}

.streamer_card a {
    color: white;
}

.streamer_card a:hover {
    text-decoration: none;
    color: #75328d;
}

.streamer_card:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: linear-gradient( to bottom,rgba(137, 43, 226, 0.5) 30%,rgba(117, 36, 192,1) 100% );
    transition: opacity 0.3s linear;
}

.show_card:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: rgb(169, 112, 252);
    background-image: url('https://www.huntshowdown.com/assets/img/socom/twitch-red.png');

    background-size: 150px 150px;
    background-repeat: no-repeat;
    background-position: center;

    transition: opacity 0.3s linear;
}

/* ----------------- destaque-area ----------------- */
#destaque-area {
    margin-right: 15px;
}

/* Botao de subir para o topo*/

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: rgb(169, 112, 252); /* Add a dark-grey background on hover */
  }