/* ----------------- Gerais ----------------- */

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #0c1013;
    color: #fff;
}

main {
    margin-top: 100px;
}

.container {
    padding: 10px 40px 10px 40px;
    background-color: #192126;  /* cor de fundo do conteudo da página */
}

.negativo { /* tira as margens negativas do row */
    margin-right: 0px;
    margin-left: 0px;
}

.center-content {   /* Centraliza o conteudo*/
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.center-content-left { 
    margin-left: auto;
    display: flex;
}

#title-news img {
    max-height: 400px;
}

h1, h2 {
    text-align: center;
    padding: 10px;
}

p {
    text-align: justify;
    margin-top: 20px;
}

/* ----------------- texto e imagem ----------------- */

#news-area p {
    padding-left: 50px;
    padding-right: 50px;
}

#imagens img {
    max-height: 300px;
    margin-top: 20px;
}

/* ----------------- tamanho video e imagem ----------------- */

@media(max-width: 992px){
    #player {
        width: 340px;
        height: 240px;
    }

    #imagens img {
        max-height: 300px;
        max-width: 530px;
    }

}

@media(max-width: 812px){
    #imagens img {
        max-height: 300px;
        max-width: 470px;
    }
}

@media(max-width: 767px){
    #player {
        width: 440px;
        height: 260px;
    
    }

    #imagens img {
        max-height: 300px;
        max-width: 390px;
    }
}

@media(max-width: 617px){

    #imagens img {
        max-height: 300px;
        max-width: 290px;
    }
}

@media(max-width: 538px){
    #player {
        width: 343px;
        height: 195px;
    
    }
}

@media(max-width: 425px){
    #player {
        width: 239px;
        height: 139px;
    
    }

    #imagens img {
        max-height: 300px;
        max-width: 200px;
    }
}
